*~
config*
NomLog.txt
SirLog.txt
Source/__pycache__
Source/interfaceBACKUP.py
Source/twitchDataBACKUP.py
Source/SirBotBACKUP.py
Source/testmodulesBACKUP.py
*.db
dev/interfacex.py
dev/*BACKUP.py
dev/__pycache__