*~
NomLog.txt
SirLog.txt
Source/__pycache__
Source/interfaceBACKUP.py
Source/twitchDataBACKUP.py
Source/SirBotBACKUP.py
Source/testmodulesBACKUP.py
Source/config
*.db
dev/interfacex.py
dev/*BACKUP.py
dev/__pycache__
dev/TOPSECRET/SirBot/config/sirbot/config
dev/config
